.error-page {
    background: url('/src/assets/oops-message-comic-bubble-speech-cartoon-expression-illustration-gray-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}